./.idea
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

.env
.DS_Store
.eslintrc.js
*.swp
*.log
*.test.js
*.config.js
*.tsbuildinfo
.idea/
.vscode/
tests/
__tests__/
coverage/
node_modules/
vitest.config.js
package-lock.json
